.paginator {
    margin: 10px;
}

.pageNumber {
    cursor: pointer;
    margin: 0 2px;
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}