.header {
  grid-area: h;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #222;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1f5f1f;
}

.loginBlock a {
  color: white;
}
